body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.card {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: #333;
}

.role {
    color: #777;
    font-size: 14px;
}

p {
    font-size: 14px;
    color: #555;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
